/* /home/rpz/code/blog-pessoal/frontend/src/styles/globals.css */



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500&display=swap');


@font-face {
  font-family: 'Code 7x5';
  src: url('../../../../../Documentos/Code\ 7x5.ttf') format('truetype');
}

* {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  
}

